* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-bottom: 150px;
    padding: 0;
    background-color: #BDDFFF;
    font-family: "Balsamiq Sans";
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.login-container {
    text-align: center;
    width: 300px;
}

.login-container h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: "Balsamiq Sans";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    font-size: 1em;
    border: 2px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-form button {
    margin-top: 12px;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.forgot-password {
    color: #085394;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    margin-top: 16.5px;
    display: inline-block;
}

.alt-logins {
    margin-top: 150px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
}


.admin-login,
.admin-login:visited {
    color: #610894;
    text-decoration: underline;
    margin-bottom: 17px;
}

.expert-login,
.expert-login:visited {
    color: #085394;
    text-decoration: underline;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
}

footer img {
    width: 42px;
}

header .top-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

header .top-bar img {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}

main h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: "Balsamiq Sans";
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.list_of_actions ul {
    list-style: none;
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list_of_actions li a {
    display: block;
    background-color: #80CFFF;
    padding: 20px;
    width: 260px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 6px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    text-align: center;
}