/* Reset & base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Comic Sans MS', sans-serif;
  overflow: hidden;
  background-color: #f8af5f;
  position: relative;
  height: 100vh;
  width: 100vw;
}

/* 1. Верхняя панель */
header.top-bar {
  height: 110px;
  width: 100%;
  background-color: #f8af5f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
header.top-bar .step {
  font-size: 30px;
  font-weight: bold;
}
header.top-bar .title {
  font-size: 18px;
}
header.top-bar .search {
  margin-top: 2px;
  position: relative;
  width: 250px;
}
header.top-bar .search input {
  width: 100%;
  padding: 8px 44px 8px 12px;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 16px;
}
header.top-bar .search button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  z-index: 2;
}

header.top-bar .search button svg {
  width: 100%;
  height: 100%;
  display: block;
}

/* Map */
.map-section {
  position: absolute;
  top: 110px;      /* height of header */
  bottom: 90px;    /* height of footer */
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#map {
  width: 100%;
  height: 100%;
  min-height: 200px;
}

.map-btn {
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: #f8af5f;
  border: none;
  border-radius: 50%;
  font-family:Impact, 'Arial Narrow Bold', sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
  z-index: 2;
}

.map-btn.back {
  left: 16px;
  bottom: 110px;
}
.map-btn.next {
  right: 16px;
  bottom: 110px;
}

/* 3. Нижняя навигация */
.bottom-nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: #e69138;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
}
.bottom-nav button {
  background: none;
  border: none;
  cursor: pointer;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-nav .nav-icon svg {
  width: 60px;
  height: 60px;
  object-fit: contain;
  display: block;
  fill: gray;
}

.nav-icon#fishBtn.active svg,
.nav-icon#fishBtn.active svg *,
.nav-icon#fishBtn.active svg path {
  fill: black !important;
  stroke: black !important;
}