* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .top-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}


header .top-bar img {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}

body {
    margin-bottom: 150px;
    padding: 0;
    background-color: #BDDFFF;
    font-family: "Balsamiq Sans";
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

main h1 {
    font-size: 40px;
    margin: 10px 0 20px;
    font-weight: 400;
}

main img {
    margin: 20px 0;
    border-radius: 10px;
    width: 318px;
    height: 318px;
    flex-shrink: 0;
}

h2 {
    text-align: center;
}

.profile-name p {
    text-align: center;
}

.profile-bio p {
    margin-top: 20px;
}